<div class="card p-2">
  <ngb-tabset class=" pt-3">
    <ngb-tab id="ngbTab1">
      <!--the tab title-->
      <ng-template ngbTabTitle>Make a publication</ng-template>
      <ng-template ngbTabContent>
        <div class=" m-3">
          <div class="" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            <div class="form-group">
              <label class="sr-only" for="message">post</label>
              <textarea class="form-control" type="text" id="message" rows="3" placeholder="What are you thinking?" #entered></textarea>
            </div>
          </div>
        </div>

        <div class="btn-toolbar justify-content-between">
          <button type="submit" class="btn btn-primary" (click)='newPost(entered.value)'>share</button>
          <div class="btn-group" ngbDropdown>
            <button type="button" id="params" class="btn btn-link " ngbDropdownToggle>
              <i class="fa fa-globe"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="params">
              <a class="dropdown-item" href="#">
                <i class="fa fa-globe"></i>
                Public
              </a>
              <a class="dropdown-item" href="#">
                <i class="fa fa-users"></i>
                Friends
              </a>
              <a class="dropdown-item" href="#">
                <i class="fa fa-user"></i>
                Just me
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="ngbTab2" title="Images">
      <ng-template ngbTabContent>
        <div class=" mx-3 mt-3 mb-5 form-group">
          <div class="custom-file ">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile">
            <label class="custom-file-label m-6 p-6" for="customFile">Upload image</label>
          </div>
        </div>
        <div class="btn-toolbar justify-content-between">
          <button type="submit" class="btn btn-primary">share</button>
          <div class="btn-group" ngbDropdown>
            <button type="button" id="params2" class="btn btn-link " ngbDropdownToggle>
              <i class="fa fa-globe"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="params">
              <a class="dropdown-item" href="#">
                <i class="fa fa-globe"></i>
                Public
              </a>
              <a class="dropdown-item" href="#">
                <i class="fa fa-users"></i>
                Friends
              </a>
              <a class="dropdown-item" href="#">
                <i class="fa fa-user"></i>
                Just me
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
