<!--- \\\\\\\Post-->
<div class="card gedf-card my-4">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <!--profile pic-->
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">@{{post.username}}
            <a href="" class="ml-2" *ngIf="post.repostedBy != ''"> <span class="fa fa-retweet "></span> by @{{post.repostedBy}}</a>
          </div>
          <div class="h7 text-muted">{{post.firstname}} {{post.lastname}}</div>
        </div>
      </div>
      <div>
        <div ngbDropdown>
          <button class="btn btn-link " ngbDropdownToggle id="gedf-drop1">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="gedf-drop1">
            <div class="h6 dropdown-header">Configuration</div>
            <a class="dropdown-item" href="#">Save</a>
            <a class="dropdown-item" href="#">Hide</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="text-muted h7 mb-2"><i class="fa fa-clock-o"></i>{{post.publicationTime| date}}</div>
    <!--the post content-->
    <p class="card-text">{{post.content}}</p>
    <!--the post image-->
    <div >
      <img *ngFor="let image of getImages()" [src]="image.data" class="img-thumbnail" [alt]="image.id">
    </div>

  </div>
  <div class="card-footer row mx-0">
    <div (click)="onLike(post.id)" class="btn btn-link py-0 pl-0"  [ngClass]="{clicked:liked}">
      <small class="pr-1">{{post.likes}}</small>
      <i class="fa fa-gittip"></i>
      Like
    </div>
    <div class="card-link">
      <i class="fa fa-comment"></i>
      Comment
    </div>
    <div href="#" class="card-link">
      <i class="fa fa-mail-forward"></i>
      Share
    </div>
  </div>
</div>
<app-modal-post></app-modal-post>
