<div class="card">
  <div class="card-body">
    <div class="h5">@{{user.username}}</div>
    <div class="h7 text-muted">Fullname : {{user.firstname}} {{user.lastname}}</div>
    <div class="h7">{{user.description}}</div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h6 text-muted">Followers</div>
      <div class="h5">{{user.followers}}</div>
    </li>
    <li class="list-group-item">
      <div class="h6 text-muted">Following</div>
      <div class="h5">{{user.following}}</div>
    </li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

